#header box{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
}
#logobox{
    width: 25%;
    height: 60%;
}
#navbar{
    width: 60%;
    height: 30%;
    flex-direction: row;
}
.nav-item{
    width:30%;
    height: 10%;
    padding: 10%;
}